<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>FFS Group</display-name>
    <filter-mapping>
        <filter-name>DefaultFilter</filter-name>
        <url-pattern>/resources/*</url-pattern>
        <url-pattern>/resources/gif/*</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.txt</url-pattern>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>jdbcFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeAboutUs</servlet-name>
        <servlet-class>servlets.HomeAboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberClaimGetDetails</servlet-name>
        <servlet-class>servlets.MemberClaimGetDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberReceiptNew</servlet-name>
        <servlet-class>servlets.MemberReceiptNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeAboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberClaimGetDetails</servlet-name>
        <url-pattern>/MemberClaimGetDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberReceiptNew</servlet-name>
        <url-pattern>/MemberReceiptNew</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
        <welcome-file>homeview.jsp</welcome-file>
    </welcome-file-list>
</web-app>
